body{
    font-family: 'Montserrat', sans-serif;
}
.cursor{
  position: absolute;
  border-radius: 10px;
  background-color: silver;
  padding: 10px;
  font-size: 12px;
  border-top-left-radius: 0px;
  text-shadow: 0 0 10px black;
  color:white;
}

input {
    padding: 10px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border: 1px solid silver;
}
